<ion-header md-behaviour>
  <ion-toolbar>
    <ion-title> Material eBill </ion-title>
    <ion-buttons slot="end">
      <md-icon-button routerLink="/settings">
        <md-icon filled>settings</md-icon>
      </md-icon-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @let items = cartService.items();

  <div class="list" [@listAnimation]="items.length">
    @for (item of items; track item.id) {
    <app-cart-item
      [item]="item"
      (delete)="cartService.removeItem($event)"
    ></app-cart-item>
    }
  </div>

  @if (isEmpty()) {
  <div class="box empty">
    <md-icon>shopping_cart</md-icon>
    <span>Your cart is empty!</span>
  </div>
  }
</ion-content>
<ion-footer class="ion-no-border">
  @if (isLoading()) {
  <md-linear-progress indeterminate></md-linear-progress>
  }
  <ion-toolbar>
    <div class="box">
      <span class="total"
        >{{ cartService.total() | currency: "" : "symbol" : "1.0-2" }}</span
      >

      <div class="buttons">
        @let disabled = isEmpty();

        <md-icon-button (click)="cartService.clear()" [disabled]="disabled">
          <md-icon>delete</md-icon>
        </md-icon-button>
      </div>
    </div>
    <ion-buttons slot="end">
      <md-fab variant="primary" (click)="addRandomItem()">
        <md-icon slot="icon">add</md-icon>
      </md-fab>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
