@layer frameworks, tokens, shared, app;

@layer tokens.material {
  @import "./styles/material/tokens";
}

@layer frameworks.ionic {
  @import "./styles/ionic";
}

@layer frameworks.material {
  @import "./styles/material";

  @layer ionic.compat {
    @import "./styles/material/ionic/compat";
  }

  @layer fonts {
    @import "./styles/material/symbols";
  }
}

@layer shared {
  @layer ui {
    @import "./app/shared/ui/ion-md-header/ion-md-header-behaviour";
  }

  @layer fonts {
    @import "./styles/fonts";
  }
}

@layer app {
  @import "open-props/style";
  @import "./styles/app";
}

:root {
  --ion-safe-area-top: var(--safe-area-inset-top, 0);
  --ion-safe-area-bottom: var(--safe-area-inset-bottom, 0);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
