<ion-header md-behaviour [headlineRef]="headline" size="medium">
  <ion-toolbar>
    <ion-title> Ionic Material </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-styles-provided="true">
  <ion-md-headline #headline> Ionic Material </ion-md-headline>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis minus in
    tempore enim explicabo magnam, itaque aperiam odio, quidem, accusantium
    saepe atque? Ipsum quisquam molestias blanditiis voluptatem soluta sint
    pariatur earum. Beatae at natus asperiores facere in repellendus eos
    assumenda, dolorem consequatur pariatur commodi eius ipsum distinctio illum
    neque ducimus iure placeat minima quo. Dicta culpa nam dolorem hic inventore
    corporis, harum consequuntur ipsa soluta architecto saepe rerum commodi
    error ut non blanditiis rem, at omnis eaque ratione? Obcaecati repellat
    perferendis veniam ad tempora itaque unde est, excepturi facilis
    dignissimos, suscipit nobis vitae ex dolor provident eligendi officia
    molestias. Exercitationem!
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis minus in
    tempore enim explicabo magnam, itaque aperiam odio, quidem, accusantium
    saepe atque? Ipsum quisquam molestias blanditiis voluptatem soluta sint
    pariatur earum. Beatae at natus asperiores facere in repellendus eos
    assumenda, dolorem consequatur pariatur commodi eius ipsum distinctio illum
    neque ducimus iure placeat minima quo. Dicta culpa nam dolorem hic inventore
    corporis, harum consequuntur ipsa soluta architecto saepe rerum commodi
    error ut non blanditiis rem, at omnis eaque ratione? Obcaecati repellat
    perferendis veniam ad tempora itaque unde est, excepturi facilis
    dignissimos, suscipit nobis vitae ex dolor provident eligendi officia
    molestias. Exercitationem!
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis minus in
    tempore enim explicabo magnam, itaque aperiam odio, quidem, accusantium
    saepe atque? Ipsum quisquam molestias blanditiis voluptatem soluta sint
    pariatur earum. Beatae at natus asperiores facere in repellendus eos
    assumenda, dolorem consequatur pariatur commodi eius ipsum distinctio illum
    neque ducimus iure placeat minima quo. Dicta culpa nam dolorem hic inventore
    corporis, harum consequuntur ipsa soluta architecto saepe rerum commodi
    error ut non blanditiis rem, at omnis eaque ratione? Obcaecati repellat
    perferendis veniam ad tempora itaque unde est, excepturi facilis
    dignissimos, suscipit nobis vitae ex dolor provident eligendi officia
    molestias. Exercitationem!
  </p>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title></ion-title> -->
  </ion-toolbar>
</ion-footer>
